<p>Ask your coach anything:</p>
<div class="container">
  <form action="answer">
  <input id="input" type="text" name="message" placeholder="Ask anything">
  <input id="button" type="submit" value="Ask!">
  </form>
</div>


